.global{
    height: 100vh;
    width: 17vw;
    position: absolute;
    position: fixed;

}
.sidebar-div{
    /* border: solid 1px #ff0000; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #1D394E;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.footer-grid-sidebar-div{
    /* border: solid 1px #00ff00;  */
    position: relative;
    width: 100%;
    height: 10vh;
    float: inline-start;
    border-bottom-right-radius: 15px;
}
.footer-line{
    border: solid 0.5px #ffffff;
}
.footer-container{
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: rgb(255, 0, 0) 5px solid; */
    padding: 5px;
    justify-content: space-between;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /* border: solid 1px #ffffff; */
}
.user-text-div{
    /* border: steelblue 1px solid; */
    margin-left: 5px;
    color: #ffffff;
}
.icon-exit{
    width: 30px;
    height: 30px;
    /* border: #00ff00 1px solid; */
    margin-left: 2%;
    cursor: pointer;
}
.user-text-email{
     color: #B3BDC9 solid 1px;
}
.div{
    background-color: aqua;
    height: 10px;
    width: 10px;
}
.header-grid-sidebar-div{
    width: 100%;
    height: 100%;
    /* border: solid #00f50c 1px; */
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
.LogoEros{
    width: 20vw;
    height: 20vh;  
}
.header-container{
    /* border: solid #cc00ff 1px; */
    width: 100%;
    
    display: block;
}
.header-container-multi-option{
    /* border: #B3BDC9 solid 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 10px;
    color: #ffffff;
}
.header-container-option{
    /* border: #B3BDC9 solid 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 10px;
    color: #ffffff
}
/* Modo janela */
@media (max-width: 1500px) {

.global{
    height: 100vh;
    width: 70px; /*Px proposital, mantem o tamanho da sidebar fixo*/
    position: absolute;
    position: fixed;
}
    .sidebar-div{
    /* border: solid 5px #ff0000; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #1D394E;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.user-text-div{
    display: none;
}
}