/* FONTE */
@font-face {
  font-family: 'Tommy_Regular';
  src: url('./Assets/Font/MADE Tommy Soft Regular PERSONAL USE.otf') format('opentype');
  font-weight: 10;
  font-style: normal;
}
@font-face {
  font-family: 'Tommy_Bold';
  src: url('./Assets/Font/MADE Tommy Soft Bold PERSONAL USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tommy_Thin';
  src: url('./Assets/Font/MADE Tommy Soft Thin PERSONAL USE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




body {
  margin: 0;
  padding: 0;
  background-color: #e6047500;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Tommy_Regular', sans-serif;
}