.link_register{
    color: #f2624cad;
    text-decoration: none;
    font-family: 'Tommy_Bold', sans-serif;
    cursor: pointer;
}
.link_register:hover{
    color: #F2634C;
    text-decoration: underline;
}
.forgot-password-div{
    display: flex;
    width: 85%;
    /* border: #F2634C solid 1px; */
    justify-content: center;
    margin-top: 1rem;
}
