.welcome-message-bold {
    font-size: 25px;
    font-weight: 'Tommy_Bold', sans-serif;
}
.link_login{
    color: #f2624cad;
    text-decoration: none;
    font-family: 'Tommy_Bold', sans-serif;
    cursor: pointer;
}
.link_login:hover{
    color: #F2634C;
    text-decoration: underline;
}
.forgot-login-div{
    display: flex;
    justify-content: center;
}
