* {
    padding: 0 auto;
    margin: 0;
    box-sizing: border-box;
}

.global {
    width: 100vw;
    height: 100vh; 
}
.background{
    background-image: url('../../../Assets/BackgroundLogin.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  
}
.global-container{
    width: 100%;
    height: 100%;
    border: solid 2px rgb(255, 0, 170);
    display: flex;
    flex-direction: row;
}

                                                    /* COMEÇO DO CONTAINER LATERAL ESQUERDO*/
.left-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}



                                                    /* COMEÇO DO CONTAINER LATERAL DIREITO*/
.right-container {
    width: 40%;
    border: 2px solid rgb(102, 255, 0);
    display: flex;
    align-items: center;
}


.grid-3x2-forms {
    /* border: 1px solid black; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}



                                   